<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2">
          <a class="active" href="#div-branch">Branch</a>
        </li>
        <li class="tab col s2">
          <a href="#div-client">Client</a>
        </li>
        <li class="tab col s2">
          <a href="#div-employee">Employee</a>
        </li>
        <li class="tab col s2">
          <a href="#div-jewelry">Jewelry</a>
        </li>
        <li class="tab col s2">
          <a href="#div-material">Material</a>
        </li>
        <li class="tab col s2">
          <a href="#div-order">Order</a>
        </li>
      </ul>
    </div>
    <div id="div-branch" class="col s12">
      <branch-crud *ngIf="currentUser.user != null && currentUser.isAdmin"></branch-crud>
      <error-page *ngIf="currentUser.user != null && !currentUser.isAdmin" [code]="401"></error-page>
    </div>
    <div id="div-client" class="col s12">Test 2</div>
    <div id="div-employee" class="col s12">Test 3</div>
    <div id="div-jewelry" class="col s12">Test 4</div>
    <div id="div-material" class="col s12">Test 4</div>
    <div id="div-order" class="col s12">Test 4</div>
  </div>
</div>