 @import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 5px;
    min-height: 41.9em;
} 

app {
    display: flex;
    flex-direction: column;
}

.helper-text {
    color: red;
}
