<header>
  <nav class="nav-wrapper-cotainer">
    <div class="container">
      <a href="#" data-activates="nav-mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <a href="" class="brand-logo center"> Jewelry Rent System </a>
      <ul class="left hide-on-med-and-down">
        <li>
          <a href="/entities">Entities</a>
        </li>
        <li>
          <a href="/documents">Documents</a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="dropdown-button" href="#!" data-activates="user-nav"> Hello, some user! </a>
        </li>
      </ul>
      <ul id="user-nav" class="dropdown-content">
        <li>
          <a href="#!">Logon</a>
        </li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li>
          <a href="/entities">Entities</a>
        </li>
        <li>
          <a href="/documents">Documents</a>
        </li>
        <li>
          <a href="#!">Logon</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="page-footer">
  <div class="container center">
    Spp, 6th semester. Evtushenko Tatyana, Filipuk Dmitriy, Akulchik Vladimir.
  </div>
</footer>